<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Forum - topics list</title>
</head>
<body>
<h1 style="text-align: center;">Topics</h1></br>
<div style="float: right;">
    <a href="new_topic.html" style="text-align: right;">Dodaj nowy wątek!</a>
</div>
<div style="margin:auto; width: 80%;">
    <table style="width:100%" >
        <tr th:each="topic : ${topics}">
            <td><a th:href="@{'/topic/' + ${topic_raw}}" th:text="${topic}">text</a></td>
        </tr>
    </table>
</div>
</body>
</html>